<h1><%= @active_player.name %>'s turn</h1>
<p><%= @active_player.name %> vs. <%= @inactive_player.name %></p>
<p><%= @active_player.name %>: <%= @active_player.hp %>HP</p>
<p><%= @inactive_player.name %>: <%= @inactive_player.hp %>HP</p>

<form action="/attack">
	<button type="submit" value="attack">Attack!</button>
</form>